body {
    background-color:#FFFFCC;
    color: #333333;

    font-family: Arial, Helvetica, sans-serif;
    
    line-height:1.6em;
    margin:0;
    min-width: 750px;

}

.container{
    width:85%;
    margin:auto;
    overflow:hidden;
}

/*header*/
#main-header{
    background-color:#333333;
    color:whitesmoke;
    font: normal Helvetica;
    padding-top:1vw;
    padding-bottom:1vw;
    vertical-align: middle;
    font-size:x-large;
    
}

/*navbar*/
#navbar{
    background-color:#FFFFCC;
    text-align:right;
}

#navbar ul{
    padding:0;
    list-style:none;
}

#navbar li{
    display:inline;
}

#navbar a{
    font-size:x-large;
    padding-right:15px;
}

#available{
    text-decoration:underline;
    color:blue;
}

#currentpage{
    text-decoration:none;
    color:#333;
}

/*box-1*/
.box-1{
    background-image:url('../images/sunset.jpg');
    background-size:100%;
    overflow: hidden;

    padding-left:15vw;
    padding-right:15vw;
    padding-top:2vw;
    padding-bottom:5vw;

    text-align: center;

}

.box-1 h2{
    font: normal Helvetica;
    font-size: xxx-large;
    text-align: center;
    padding-bottom:4vw;
}

.box-1 img {
    width:75%;
    vertical-align: center;
    box-shadow: 10px 10px 5px;
}

.row {
    display:flex;
    padding-bottom:3vw;
}

.column{
    text-align:center;
    vertical-align: middle;
    flex:50%;
    padding-left:0;
    padding-right: 0;
    
}

.box-1 ul {
    list-style:none;
    padding-bottom:3vw;
    
}

.box-1 li {
    margin-bottom:3vw;
}

.box-1 p{
    font-size:x-large;
    padding-bottom:1vw;
}

/*buttons*/
#sosmed{
    padding:0;
}

#instagram{
    font-size:1.5vw;
    padding:5px 12px;
    background-color: #ff5309;
    color:whitesmoke;
    border:2px solid #ff5309;
    box-shadow: 5px 5px 5px #333;
}

#instagram:hover{
    background-color:whitesmoke;
    border:2px solid #ff5309;
    color: #ff5309;
}

#instagram:active{
    background-color:transparent;
}

#linkedin{
    font-size:1.5vw;
    padding:5px 12px;
    background-color: #0E76A8;
    color:whitesmoke;
    border:2px solid #0E76A8;
    box-shadow: 5px 5px 5px #333;
}

#medium:hover{
    background-color:whitesmoke;
    border:2px solid black;
    color: black;
}

#medium:active{
    background-color:transparent;
}

#medium{
    font-size:1.5vw;
    padding:5px 12px;
    background-color: black;
    color:whitesmoke;
    border:2px solid black;
    box-shadow: 5px 5px 5px #333;
}

#linkedin:hover{
    background-color:whitesmoke;
    border:2px solid #0E76A8;
    color: #0E76A8;
}

#linkedin:active{
    background-color:transparent;
}

#catbutton:hover{
    background-color:whitesmoke;
    border:2px solid #333;
    color: darkblue;
}


#edbutton{
    font-size:1.5em;
    padding:10px 24px;
    background-color: midnightblue;
    color:whitesmoke;
    border:2px solid #333;
    box-shadow: 5px 5px 5px #333;
    background-color:midnightblue;
    border:2px solid #333;
    color: whitesmoke;
}

#edbutton:hover{
    background-color:whitesmoke;
    border:2px solid #333;
    color: darkblue;
}

#edbutton:active{
    background-color:transparent;
}

#homebutton{
    font-size:1.5em;
    padding:10px 24px;
    border:2px solid #333;
    box-shadow: 5px 5px 5px #333;
    background-color:whitesmoke;
    border:2px solid #333;
    color: midnightblue;
}

#homebutton:hover{
    background-color:transparent;
    border:2px solid #333;
    color: midnightblue;
}

#homebutton:active{
    background-color:whitesmoke;
}

/*footer*/
#foot{
    text-align: center;
}

/*responsive media (below 1020px width)*/
@media(max-width: 1020px){
    #main-header{
        font-size:medium;
    }
    #navbar a{
        font-size:large;
    }
    .box-1 h2{
        font-size:xx-large;
    }
    .box-1 p{
        letter-spacing: normal;
        font-size:medium;
        padding-bottom:0.3vw;
    }
    .box-1 button{
        font-size:1em;
    }
    .conditional{
        display:none;
    }

    #instagram{
        font-size:0.7em;
        padding:4px 10px;
        box-shadow: 3px 3px 3px #333;
    }
    
    #linkedin{
        font-size:0.7em;
        padding:4px 10px;
        box-shadow: 3px 3px 3px #333;
    }
    
    #medium{
        font-size:0.7em;
        padding:4px 10px;
        box-shadow: 3px 3px 3px #333;
    }

    #homebutton{
        font-size:1em;
        padding:7px 14px;
        box-shadow: 3px 3px 3px #333;
    } 
    #edbutton{
        font-size:1em;
        padding:7px 14px;
        box-shadow: 3px 3px 3px #333;
    }

}