body {
    background-color:whitesmoke;
    color: #333333;

    font: normal Arial, Helvetica, sans-serif;
    
    line-height:1.6em;
    margin:0;
    min-width: 750px;

}

#main-header{
    background-color:#333333;
    color:whitesmoke;
    font-family:Helvetica;
    padding-top:1vw;
    padding-bottom:1vw;
    vertical-align: middle;
    font-size:x-large;
    
}

.container{
    width:85%;
    margin:auto;
    overflow:hidden;
    
}

#navbar{
    background-color:#FFFFCC;
    text-align:right;
}

#navbar ul{
    padding:0;
    list-style:none;
}

#navbar li{
    display:inline;
}

#navbar a{
    font-size:x-large;
    padding-right:15px;
    
}

#profile{
    text-decoration:underline;
    color:blue;
}

#home{
    text-decoration:none;
    color:#333;
}


.box-1{
    background-image:url('../images/background.jpg');
    object-fit:cover;
    background-size:100%;
    overflow: hidden;
    text-align: center;
    box-sizing:border-box;
    
    padding-top:4.5vw;
    padding-bottom:4.5vw;
    max-height:max-content;
    vertical-align: middle;
}

.box-1 h2{
    font-family:Arial;
    font-size: xxx-large;
}

.box-1 img {
    border-radius: 50%;
    resize: both;
    outline-color: black;
    box-shadow: inset;
    box-sizing: border-box;
}

.box-1 ul {
    vertical-align: middle;
    list-style:none;
}

.box-1 li {
    padding-bottom: 6vw;
    margin-bottom: 3vw;
}

.box-1 button{
    font-size:2vw;
    padding:10px 24px;
    background-color: midnightblue;
    color:whitesmoke;
    border:2px solid #333;
    font-family:Helvetica;
}

.box-1 button:hover{
    background-color:whitesmoke;
    border:2px solid #333;
    color: darkblue;
}

.box-1 button:active{
    background-color:transparent;
}

#foot{
    text-align: center;
}

@media(max-width: 1020px){
    #main-header{
        font-size:medium;
    }
    #navbar a{
        font-size:large;
    }
    .box-1 h2{
        font-size:xx-large;
    }
    .box-1 img{
        width:15%;
        height: auto;
    }

}