body {
    background-color:#FFFFCC;
    color: #333333;

    font-family: Arial, Helvetica, sans-serif;
    
    line-height:1.6em;
    margin:0;
    min-width: 750px;

}

.container{
    width:85%;
    margin:auto;
    overflow:hidden;
}

/*header*/
#main-header{
    background-color:#333333;
    color:whitesmoke;
    font: normal Helvetica;
    padding-top:1vw;
    padding-bottom:1vw;
    vertical-align: middle;
    font-size:x-large;
    
}

/*navbar*/
#navbar{
    background-color:#FFFFCC;
    text-align:right;
}

#navbar ul{
    padding:0;
    list-style:none;
}

#navbar li{
    display:inline;    
}

#navbar a{
    font-size:x-large;
    padding-right:15px;
}

#available{
    text-decoration:underline;
    color:blue;
}

#currentpage{
    text-decoration:none;
    color:#333;
}

/*box-1*/
.box-1{
    font: normal Helvetica;
    background-image:url('../images/scenery.jpg');
    background-size:100%;
    overflow: hidden;

    padding-left:15vw;
    padding-right:15vw;
    padding-top:2vw;
    padding-bottom:5vw;

    text-align: center;
}

.box-1 h2{
    font-size: xxx-large;
    padding-bottom:1vw;
}

.box-1 p{
    font-size: x-large;
}

.box-1 img {
    width:50%;
    outline-color: black;
    vertical-align: middle;
    box-shadow: 10px 10px 5px;
}

.row {
    display:flex;
    padding-bottom:3vw;
    align-items: center;
}

.column{
    flex:50%;
    padding-left:0;
    padding-right:0;
    
}

#catbutton{
    font-size:1.5em;
    padding:10px 24px;
    background-color: midnightblue;
    color:whitesmoke;
    border:2px solid #333;
    box-shadow: 5px 5px 5px #333;
    background-color:midnightblue;
    border:2px solid #333;
    color: whitesmoke;
}

#catbutton:hover{
    background-color:whitesmoke;
    border:2px solid #333;
    color: darkblue;
}

#catbutton:active{
    background-color:transparent;
}

#homebutton{
    font-size:1.5em;
    padding:10px 24px;
    border:2px solid #333;
    box-shadow: 5px 5px 5px #333;
    background-color:whitesmoke;
    border:2px solid #333;
    color: midnightblue;
}

#homebutton:hover{
    background-color:transparent;
    border:2px solid #333;
    color: midnightblue;
}

#homebutton:active{
    background-color:whitesmoke;
}

/*footer*/
#foot{
    text-align: center;
}

/*responsive media (below 1020px width)*/
@media(max-width: 1020px){

    #main-header{
        font-size:medium;
    }

    #navbar a{
        font-size:large;
    }

    .box-1{
        padding-bottom: 4vw;
    }

    .box-1 h2{
        font-size:xx-large;
        padding-bottom: 0.3vw;
    }

    .box-1 p{
        font-size: large;
    }

    .box-1 button{
        font-size:1em;
    }

    .conditional{
        display:none;
    }

    #homebutton{
        font-size:1em;
        padding:7px 14px;
        box-shadow: 3px 3px 3px #333;
    } 
    #catbutton{
        font-size:1em;
        padding:7px 14px;
        box-shadow: 3px 3px 3px #333;
    }

}